

.smoke-title{
   
    font-size: 2vw;
    color: rgb(18, 60, 63);
    margin-left: 449px;
    max-width: 900px;
    user-select: none;
    margin-top:-11px;
    font-weight:bold
}
.smoke-title span{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.smoke-title span.active{
    animation: smoke 1s linear forwards;
    transform-origin: bottom;
}
@keyframes smoke{
    0%{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0) translateY(0) rotate(0deg);
    }
    50%{
        opacity: 1;
        pointer-events: none;
    }
    100%{
        opacity: 0;
        filter: blur(20px);
        transform: translateX(300px) translateY(-300px) rotate(720deg) scale(4);
    }
}